.DS_Store
.vscode
.idea
.claude
build
target
# user目录：排除编译产物，保留源码
/user/build
/user/asm
/user/target
# doc目录：允许上传
link_app.S
kernel_app.ld
*.o
*.d
*.asm
*.sym
nfs/fs
nfs/fs.img
nfs/fs-copy.img
os/initproc.S
